In [1]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv("/Users/premswaroop/Desktop/jupyter1/titanic.csv")
df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [5]:
#dropping columns of  no use
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)
df.head(5)

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [6]:
#changing characters to integers
df["Sex"]=df["Sex"].map({'male':1,'female':2})
df.head(2)

   Survived  Pclass  Sex   Age     Fare
0         0       3    1  22.0   7.2500
1         1       1    2  38.0  71.2833

In [8]:
#assigning inputs and target
inputs=df.drop("Survived",axis='columns')
target=df['Survived']

In [16]:
inputs.head()

   Pclass  Sex   Age     Fare
0       3    1  22.0   7.2500
1       1    2  38.0  71.2833
2       3    2  26.0   7.9250
3       1    2  35.0  53.1000
4       3    1  35.0   8.0500

In [17]:
target.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [9]:
#let's check number of null values in the columns
df.isna().sum()

Survived      0
Pclass        0
Sex           0
Age         177
Fare          0
dtype: int64

In [10]:
df.shape

(891, 5)

In [18]:
#we can not simply drop the missing values in age 
#because out of 891 rows we have missing values in 177 of them
#by dropping them we will losse a large part of our data 
#let's fill the NULL values with the mean of age column

In [19]:
inputs['Age']=inputs['Age'].fillna(inputs['Age'].mean())
inputs.head(10)

   Pclass  Sex        Age     Fare
0       3    1  22.000000   7.2500
1       1    2  38.000000  71.2833
2       3    2  26.000000   7.9250
3       1    2  35.000000  53.1000
4       3    1  35.000000   8.0500
5       3    1  29.699118   8.4583
6       1    1  54.000000  51.8625
7       3    1   2.000000  21.0750
8       3    2  27.000000  11.1333
9       2    2  14.000000  30.0708

In [21]:
#we have successfully replaced null values with the mean
inputs.isna().sum()

Pclass    0
Sex       0
Age       0
Fare      0
dtype: int64

In [34]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.2)

In [35]:
len(X_train)

712

In [36]:
len(X_test)

179

In [37]:
from sklearn.preprocessing import StandardScaler

In [38]:
#using feature transformation
#applying standard scaler seperately for both train and test data
#in order to avoid overfitting we do it seperately
scaler=StandardScaler()
X_train_scaled=scaler.fit_transform(X_train)

In [39]:
X_train_scaled

array([[-1.56298327,  1.33463478,  0.73355805,  0.4498877 ],
       [-0.36637672, -0.74926865,  1.65916597, -0.39084985],
       [ 0.83022982,  1.33463478, -1.1947918 , -0.48138395],
       ...,
       [ 0.83022982, -0.74926865, -0.26918387, -0.26946382],
       [-1.56298327, -0.74926865,  1.35063   , -0.13765943],
       [-1.56298327, -0.74926865,  1.42776399, -0.1190033 ]])

In [40]:
X_test_scaled=scaler.transform(X_test)
X_test_scaled

array([[ 0.83022982, -0.74926865,  2.43050591, -0.51272045],
       [ 0.83022982, -0.74926865,  0.01614384, -0.48291909],
       [ 0.83022982, -0.74926865, -0.57771985, -0.49309516],
       [ 0.83022982,  1.33463478,  0.01614384, -0.48340366],
       [-1.56298327, -0.74926865,  0.34788808, -0.1190033 ],
       [-1.56298327, -0.74926865,  2.66190789,  4.46410664],
       [-1.56298327, -0.74926865,  2.43050591,  0.01570854],
       [-1.56298327,  1.33463478, -0.57771985,  0.432443  ],
       [ 0.83022982, -0.74926865, -0.96338982, -0.49689035],
       [ 0.83022982, -0.74926865,  1.19636201, -0.49842549],
       [ 0.83022982, -0.74926865,  0.01614384, -0.24660739],
       [ 0.83022982, -0.74926865,  0.01614384, -0.47637733],
       [ 0.83022982, -0.74926865, -0.42345186, -0.44948342],
       [ 0.83022982, -0.74926865,  3.16327885, -0.48340366],
       [ 0.83022982,  1.33463478,  0.88782603,  0.13564084],
       [ 0.83022982,  1.33463478, -0.26918387, -0.48001164],
       [ 0.83022982,  1.33463478, -2.12039972, -0.39545331],
       [ 0.83022982,  1.33463478, -1.65759576, -0.22512521],
       [-1.56298327,  1.33463478,  0.01614384,  1.09348465],
       [-1.56298327,  1.33463478,  0.0393521 ,  1.17868844],
       [ 0.83022982, -0.74926865,  0.27075408, -0.46587756],
       [-1.56298327, -0.74926865,  0.01614384,  0.05447454],
       [-0.36637672,  1.33463478, -0.11491589, -0.12966394],
       [-0.36637672, -0.74926865, -0.42345186, -0.43010042],
       [-1.56298327, -0.74926865, -0.57771985,  1.99535812],
       [ 0.83022982, -0.74926865,  0.01614384,  0.71446563],
       [ 0.83022982,  1.33463478, -1.58046177, -0.33811258],
       [-1.56298327, -0.74926865,  0.27075408, -0.53670691],
       [ 0.83022982, -0.74926865,  0.65642405, -0.49697176],
       [ 0.83022982, -0.74926865,  0.19362009, -0.48001164],
       [-1.56298327, -0.74926865,  0.96496003, -0.12409133],
       [ 0.83022982, -0.74926865,  0.01614384, -0.48057762],
       [-0.36637672, -0.74926865,  1.89056795, -0.12966394],
       [ 0.83022982, -0.74926865, -2.12039972, -0.06909207],
       [ 0.83022982, -0.74926865,  0.01614384, -0.49349833],
       [-1.56298327, -0.74926865,  1.42776399,  0.37429401],
       [-1.56298327,  1.33463478,  0.19362009,  0.84513999],
       [ 0.83022982, -0.74926865,  0.84925904, -0.48340366],
       [-1.56298327,  1.33463478,  0.73355805,  1.51562891],
       [-1.56298327,  1.33463478,  0.01614384,  0.432443  ],
       [ 0.83022982, -0.74926865, -0.80912183, -0.50278666],
       [ 0.83022982, -0.74926865,  0.01614384, -0.33811258],
       [ 0.83022982, -0.74926865,  0.19362009, -0.48001164],
       [-0.36637672,  1.33463478,  1.89056795, -0.18781294],
       [ 0.83022982, -0.74926865,  0.34788808, -0.35450672],
       [ 0.83022982, -0.74926865, -0.38488486, -0.47758876],
       [ 0.83022982, -0.74926865, -0.57771985, -0.48057762],
       [ 0.83022982,  1.33463478, -0.65485384, -0.48534196],
       [-0.36637672,  1.33463478, -0.26918387, -0.12966394],
       [ 0.83022982, -0.74926865, -0.57771985, -0.48784625],
       [-1.56298327, -0.74926865,  2.73904188,  0.56772083],
       [ 0.83022982, -0.74926865,  0.01614384, -0.49697176],
       [-0.36637672, -0.74926865,  0.73355805, -0.38164292],
       [-1.56298327,  1.33463478, -0.42345186,  0.32591792],
       [ 0.83022982, -0.74926865, -1.58046177,  0.27544072],
       [ 0.83022982, -0.74926865,  0.50215606, -0.48057762],
       [ 0.83022982, -0.74926865,  1.04209402, -0.50860156],
       [-0.36637672, -0.74926865, -0.65485384,  0.79102847],
       [-1.56298327, -0.74926865, -1.96613174,  0.95303739],
       [ 0.83022982,  1.33463478,  0.1164861 , -0.48138395],
       [-0.36637672,  1.33463478, -0.42345186, -0.38164292],
       [-0.36637672, -0.74926865, -0.88625582, -0.41071742],
       [ 0.83022982,  1.33463478,  0.01614384, -0.33318543],
       [ 0.83022982, -0.74926865, -0.80912183, -0.4364813 ],
       [ 0.83022982, -0.74926865, -0.80912183, -0.48291909],
       [-1.56298327, -0.74926865,  0.50215606, -0.12215303],
       [ 0.83022982, -0.74926865,  0.01614384, -0.46967468],
       [-1.56298327, -0.74926865,  0.19362009, -0.04244045],
       [-0.36637672, -0.74926865,  0.01614384, -0.6336219 ],
       [-0.36637672,  1.33463478,  0.19362009, -0.38164292],
       [ 0.83022982, -0.74926865, -0.50058585, -0.48057762],
       [ 0.83022982,  1.33463478,  0.1164861 , -0.28472793],
       [ 0.83022982, -0.74926865,  0.01614384, -0.48340366],
       [ 0.83022982,  1.33463478,  0.01614384, -0.48186853],
       [ 0.83022982, -0.74926865,  0.0393521 , -0.47758876],
       [-0.36637672,  1.33463478, -0.42345186, -0.35256842],
       [ 0.83022982, -0.74926865, -0.80912183, -0.48534196],
       [ 0.83022982,  1.33463478,  0.01614384, -0.47589275],
       [ 0.83022982, -0.74926865,  2.73904188, -0.48340366],
       [-1.56298327, -0.74926865,  0.65642405,  1.11084794],
       [ 0.83022982, -0.74926865, -0.73198784, -0.48001164],
       [-0.36637672, -0.74926865,  0.0393521 , -0.16842994],
       [-1.56298327,  1.33463478,  0.27075408,  1.04300745],
       [-0.36637672,  1.33463478, -0.19204988, -0.43010042],
       [ 0.83022982,  1.33463478,  0.0393521 , -0.16552249],
       [ 0.83022982,  1.33463478, -1.88899774, -0.2603383 ],
       [ 0.83022982, -0.74926865,  0.01614384, -0.48364595],
       [-0.36637672,  1.33463478, -0.03778189, -0.12966394],
       [ 0.83022982, -0.74926865, -0.57771985, -0.49357974],
       [ 0.83022982, -0.74926865, -0.65485384, -0.47015926],
       [ 0.83022982, -0.74926865,  0.27075408, -0.48057762],
       [-1.56298327, -0.74926865, -0.65485384,  0.86444158],
       [-0.36637672, -0.74926865,  0.1164861 ,  0.08363045],
       [-1.56298327, -0.74926865,  1.35063   ,  0.02580321],
       [-0.36637672, -0.74926865,  1.73629996, -0.37195142],
       [-0.36637672, -0.74926865, -1.04052381, -0.12966394],
       [ 0.83022982, -0.74926865, -1.04052381, -0.45497462],
       [ 0.83022982, -0.74926865,  0.96496003, -0.48534196],
       [-0.36637672, -0.74926865,  0.54072306, -0.12966394],
       [ 0.83022982,  1.33463478, -1.11765781, -0.47799193],
       [-1.56298327, -0.74926865,  0.42502207, -0.1190033 ],
       [ 0.83022982, -0.74926865, -0.11491589, -0.32640138],
       [ 0.83022982,  1.33463478, -0.03778189, -0.33811258],
       [ 0.83022982,  1.33463478, -1.04052381, -0.48372736],
       [-0.36637672,  1.33463478,  0.42502207, -0.22657894],
       [ 0.83022982, -0.74926865,  0.50215606, -0.6336219 ],
       [ 0.83022982, -0.74926865,  0.19362009,  0.46143609],
       [-1.56298327, -0.74926865,  1.273496  ,  0.90151156],
       [ 0.83022982,  1.33463478,  2.5847739 , -0.4477874 ],
       [ 0.83022982,  1.33463478,  0.01614384, -0.17909059],
       [ 0.83022982, -0.74926865, -0.80912183, -0.48057762],
       [-0.36637672, -0.74926865,  0.01614384, -0.6336219 ],
       [ 0.83022982, -0.74926865,  0.01614384, -0.48388824],
       [-0.36637672, -0.74926865,  0.27075408, -0.3956956 ],
       [ 0.83022982, -0.74926865, -0.11491589,  0.46143609],
       [-1.56298327, -0.74926865, -2.20370444,  2.30387149],
       [ 0.83022982,  1.33463478, -1.27192579, -0.49349833],
       [ 0.83022982, -0.74926865,  1.11922801, -0.32155563],
       [ 0.83022982,  1.33463478, -1.11765781, -0.49357974],
       [-1.56298327, -0.74926865, -0.19204988, -0.04244045],
       [ 0.83022982, -0.74926865, -0.57771985, -0.49551804],
       [ 0.83022982, -0.74926865, -1.1947918 ,  0.13564084],
       [-0.36637672, -0.74926865,  0.50215606, -0.3840658 ],
       [ 0.83022982, -0.74926865,  0.01614384, -0.47758876],
       [-1.56298327, -0.74926865,  0.01614384, -0.13111767],
       [-1.56298327,  1.33463478, -2.12039972,  2.30387149],
       [-0.36637672, -0.74926865,  0.73355805, -0.38164292],
       [ 0.83022982,  1.33463478, -1.81186375, -0.02741863],
       [ 0.83022982, -0.74926865, -1.04052381, -0.28472793],
       [-1.56298327,  1.33463478,  0.73355805,  0.97823528],
       [-1.56298327,  1.33463478,  0.65642405,  3.77649478],
       [-1.56298327,  1.33463478,  0.81069204,  2.34094147],
       [-1.56298327, -0.74926865,  2.04483594, -0.03864526],
       [ 0.83022982, -0.74926865,  0.01614384, -0.34093863],
       [-1.56298327, -0.74926865,  0.57929006,  0.38503607],
       [-1.56298327,  1.33463478,  1.35063   ,  0.38503607],
       [ 0.83022982, -0.74926865, -1.73472976,  0.13564084],
       [-0.36637672, -0.74926865, -2.22298794, -0.35256842],
       [ 0.83022982, -0.74926865,  0.27075408, -0.48057762],
       [-0.36637672, -0.74926865, -0.34631787, -0.38164292],
       [ 0.83022982, -0.74926865,  0.01614384,  0.71446563],
       [ 0.83022982,  1.33463478,  0.01614384, -0.48340366],
       [-0.36637672, -0.74926865,  3.12471185, -0.43010042],
       [-1.56298327, -0.74926865,  0.65642405,  2.34094147],
       [-1.56298327, -0.74926865,  0.01614384, -0.6336219 ],
       [ 0.83022982,  1.33463478,  0.88782603, -0.24184305],
       [-0.36637672, -0.74926865,  1.42776399, -0.38164292],
       [-1.56298327,  1.33463478,  0.65642405,  0.74806218],
       [ 0.83022982, -0.74926865,  0.0393521 , -0.49309516],
       [-0.36637672, -0.74926865,  0.1164861 , -0.38164292],
       [-0.36637672,  1.33463478, -0.96338982, -0.43010042],
       [-1.56298327,  1.33463478,  1.73629996,  1.17868844],
       [-0.36637672,  1.33463478,  0.65642405, -0.38164292],
       [ 0.83022982, -0.74926865, -0.11491589, -0.48057762],
       [ 0.83022982, -0.74926865,  0.01614384, -0.48186853],
       [-1.56298327, -0.74926865,  0.73355805, -0.6336219 ],
       [ 0.83022982,  1.33463478, -0.34631787, -0.48001164],
       [ 0.83022982,  1.33463478, -0.42345186, -0.46208236],
       [-0.36637672,  1.33463478, -0.42345186, -0.11028095],
       [-1.56298327,  1.33463478, -0.26918387,  0.89472751],
       [ 0.83022982, -0.74926865,  1.50489798, -0.6336219 ],
       [-1.56298327,  1.33463478,  1.50489798,  0.85362005],
       [ 0.83022982, -0.74926865,  0.01614384, -0.48057762],
       [ 0.83022982, -0.74926865, -0.50058585, -0.45481374],
       [-0.36637672, -0.74926865, -0.80912183, -0.38164292],
       [ 0.83022982, -0.74926865,  0.01614384,  0.46143609],
       [-0.36637672, -0.74926865,  1.89056795, -0.12966394],
       [ 0.83022982, -0.74926865, -0.26918387, -0.23481671],
       [ 0.83022982, -0.74926865, -0.73198784, -0.55584762],
       [-0.36637672, -0.74926865,  0.34788808, -0.38164292],
       [-1.56298327,  1.33463478,  1.04209402,  3.46273249],
       [ 0.83022982, -0.74926865, -0.34631787, -0.48291909],
       [ 0.83022982, -0.74926865,  0.01614384, -0.48340366],
       [ 0.83022982,  1.33463478,  0.1164861 , -0.46531351],
       [ 0.83022982, -0.74926865,  0.01614384, -0.49188372],
       [ 0.83022982, -0.74926865, -0.73198784, -0.49349833],
       [ 0.83022982, -0.74926865,  0.73355805, -0.02741863],
       [-0.36637672,  1.33463478,  0.23218709, -0.38164292],
       [ 0.83022982, -0.74926865, -0.19204988, -0.35345617]])

In [41]:
#applying desision tree classifier
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [42]:
model.fit(X_train_scaled,y_train)

DecisionTreeClassifier()

In [44]:
model.score(X_test_scaled,y_test)

0.8100558659217877